<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatosLINQ.Properties.Settings.OBJ_REDESConnectionString"
            connectionString="Data Source=pse020\sqlexpress;Initial Catalog=OBJ_REDES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>